@import "global.scss";
@import "animation.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "function.scss";

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  line-height: 1.6;
}

html {
  font-size: 12px;
}

#app {
  padding: $defaultWhitespace;
}

.btn {
  border: none;
  outline: none;
  padding: 5px;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.1;
}

.btn-transparent {
  background: transparent;
}

.content {
  height: calc(100% - 49px);
}

.slow-show {
  animation: slowShow 250ms ease-out;
  -webkit-animation: slowShow 250ms ease-out;
}