@import 'global.scss';
@import 'animation.scss';
@import 'fonts.scss';
@import 'mixins.scss';
@import 'function.scss';


* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: darkColor(1);
    line-height: 1.6;
}

button {
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
}

#app {
    max-width: 400px;
    padding: $defaultWhitespace;
    box-shadow: 0px 0px 15px darkColor(0.08);
    border-radius: 20px;
}

.btn-setting {
    background: $white;
    &:hover {
        animation: rotation 2s infinite linear;
        -webkit-animation: rotation 2s infinite linear;
      }
}


.clear_svg {
    @include flexible('center')
}

.widget-header {
    font-size: $large;
    padding: 5px;
    @include flexible('between');
}

.widget-box {
    width: 100%;
    max-width: 400px;
}

.weather-box {
    @include flexDirection(row, wrap);
    justify-content: space-between;
    margin-top: $defaultWhitespace;
}

.weather-item {
    width: calc((100% - $defaultWhitespace) / 2)
}

.compact-weather-main-info {
    @include flexible('between');
    .weather-geoposition-info {
        @include flexDirection(column, nowrap);  
    }

}

.compact-weather-dsc {
    @include flexible('between');
}

.weather-city {
    font-size: $small;
    font-weight: 500;
}

.weather-time {
    font-size: $small;
    font-weight: 400;
}

.weather-temp-current {
    font-size: 26px;
    font-weight: 500;
}

.weather-type {
    font-size: $small;
    font-weight: 400;
    img {
        width: 24px;
    }
    @include flexible(null);
}

.weather-temp-additional {
    font-size: $small;
    font-weight: 400;
    @include flexible(null);
}




.small {
    font-size: $small;
}

.sm-plus {
    font-size: $small;
}

.normal {
    font-size: $small;
}

.large {
    font-size: $small;
}

.lg-plus {
    font-size: $small;
}

