@import 'global.scss';
@import 'animation.scss';
@import 'fonts.scss';
@import 'mixins.scss';
@import 'function.scss';


* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: #FFFDFA;
    line-height: 1.6;
}

html {
    font-size: 16px;
    @media (max-width: 375px) and (min-width: 325px){
        font-size: 12px;
    }
}


button {
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
}

#app {
    padding: $defaultWhitespace;
}

.icon span {
    display: flex;
}

.btn-setting:hover {
    animation: rotation 2s infinite linear;
    -webkit-animation: rotation 2s infinite linear;
}

.btn-white {
    background: $white;
}


.clear_svg {
    @include flexible('center')
}

.widget-header {
    font-size: $large;
    @include flexible('between');
    color: $grey;
}

.widget-box {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px darkColor(0.08);
    padding: $defaultWhitespace;
}

.weather-box {
    @include flexDirection(row, wrap);
    justify-content: space-between;
    margin-top: $defaultWhitespace;
}

.weather-item {
    width: calc((100% - $defaultWhitespace) / 2);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: $defaultWhitespace;
    border-radius: 20px;
    padding: 10px;
    @media (max-width: 325px) {
        width: 100%;
    }
}

.weather-city {
    font-size: $small;
    font-weight: 600;
    text-align: center;
}

.weather-time {
    font-size: $small;
    font-weight: 400;
}

.weather-temp-current {
    font-size: 2.625rem;
    font-weight: 500;
    @include flexible('center');
    img {
        height: calc(2.625rem * 1.6);
    }
}


.weather-temp-additional {
    font-size: $small;
    font-weight: 400;
    @include flexible('center');
    .text {
        margin: 0 5px;
    }
}

.weather-dsc {
    font-size: $small;
    text-align: center;
}

.weather-item-figure {
    padding-top: 100%;
    margin: 0;
    position: relative;
    & section {
        @include flexDirection(column, nowrap);
    justify-content: space-between;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}




.small {
    font-size: $small;
}

.sm-plus {
    font-size: $small;
}

.normal {
    font-size: $small;
}

.large {
    font-size: $small;
}

.lg-plus {
    font-size: $small;
}

.checkbox {
    background: darkColor(0.15);
    border-radius: 12px;
    width: 38px;
    padding: 3px;
    margin-left: $defaultWhitespace;
}

.circle {
    box-shadow: 0px 2px 8px darkColor(0.35);
    background: $white;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.checkbox, .circle {
    transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}

.checkbox-active {
    background: #7a2a9a !important;
}

.circle-active {
    margin-left: 15px;
}

.toggleCompact {
    @include flexible(null);
    color: $grey;
}

.location-card {
    background: $grey;
    border-right: 20px;
    padding: 5px;
}

